{% load static %}

<div class="container-fluid footer px-3 pt-3 app-footer" >
    <div class="row">

        <!-- Left Links -->
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 mx-md-auto ">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 mx-md-auto " >
            <h5 class="text-light fs-6 text-uppercase" style="text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 0.5px; font-family: sans-serif; ">Quick Links</h5>
            <ul class="list-unstyled mt-3" >
                <!-- <li class="mb-md-2"><a href="{% url 'home' %}" class="text-light changeOver small text-decoration-none">Home</a></li> -->
                <li class="mb-md-3"><a href="#" class="text-white small changeOver text-decoration-none">About Us</a></li>
                <li class="mb-md-3"><a href="#" class="text-light changeOver small text-decoration-none">Privacy Policy</a></li>
                <li ><a href="#" class="text-light changeOver small text-decoration-none">Support</a></li>
            </ul>
            </div>
        </div>

        <!-- Address -->
        <div class="col-6 col-sm-6 col-md-4 col-lg-4 " >
            <div class="col-sm-6 col-md-6 col-lg-4 mx-md-auto ">
                <h5 class="text-light fs-6 text-uppercase" style="text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 0.5px; font-family: sans-serif;">Address</h5>
                <ul class="list-unstyled mt-3">
                    <li class="text-light small thin mb-md-2"></li>
                    <!-- <li class="text-light small thin mb-md-2">T Nagar,</li> -->
                    <li class="text-light small thin mb-md-3">Chennai,</li>
                    <li class="text-light small thin mb-md-3">Tamil Nadu,</li>
                    <li class="text-light small thin">India.</li>
                    <!-- <li class="text-light small thin mb-md-2" style="text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 0.5px;"><a class="changeOver text-decoration-none text-white fs-6" href="https://kishore-portfolio-121.onrender.com/">Visit us <i class="bi bi-globe text-white fs-6"></i> </a></li> -->
                </ul>
            </div>         
        </div>

        <!-- Social Links -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 d-flex flex-column align-items-md-end align-items-sm-center ">
            <div class="col-lg-6 text-center" style="font-family: sans-serif;">
            <h5 class="text-light text-md-center fs-6 text-uppercase" style="text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 0.5px; font-family: sans-serif;">Visit us</h5>
             <li class="justify-content-center text-lg-center text-sm-start text-md-center list-unstyled">
                <a href="https://kishore-portfolio-121.onrender.com/" class="mb-md-2">
                    <i class="fa-brands bi bi-globe text-white fs-6 mb-2" ></i>
                </a>
            </li>
           <!-- <li class="text-light small thin mb-md-2" style="text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 0.5px;"><a class="changeOver text-decoration-none text-white fs-6" href="https://kishore-portfolio-121.onrender.com/">Visit us <i class="bi bi-globe text-white fs-6"></i> </a></li> -->

        
            
            <h5 class="text-light mt-4 text-center fs-6 text-uppercase" style="text-decoration: underline; text-underline-offset: 2px; text-decoration-thickness: 0.5px; font-family: sans-serif;">Social Links</h5>

            <ul class="list-unstyled d-flex mt-3 gap-3 mx-auto justify-content-evenly">
                
                <li>
                    <a href="https://www.linkedin.com/in/kishore-subramani-2b8134113/"><i class="bi bi-linkedin text-light fs-6 "></i></a>
                </li> <br>

                <li>
                    <a href="https://wa.me/8220557366"><i class="bi bi-whatsapp text-light fs-6 "></i>
                </li><br>

                <li>
                    <a href="https://www.instagram.com/kishore2.0_/"><i class="bi bi-instagram text-light fs-6"></i></a>
                </li><br>

                <li>
                    <a href="https://www.facebook.com/kishore.don.961/"><i class="bi bi-facebook text-light fs-6" ></i> </a>
                </li>

            </ul>
           
          </div>
        </div>

    </div>

    <hr class="py-0 my-1" style="color: rgba(252, 247, 247, 0.1);">
    <p class="text-center text-light mb-2 text-decoration-none">&copy; SonyMusic {% now "Y" %}. All Rights Reserved.</p>
</div>